.open-sans-f {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex {
    display: flex;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* shared collor */

/* dark1 */
.text-black {
    color: #000000;
}

.text-orange {
    color: #E95A08;
}

.text-gray {
    color: #8987A1;
}

.text-gray2 {
    color: rgba(0, 0, 0, 0.5);
}

.text-white {
    color: #FFFFFF;
}

/* navbar related styled */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nave-item {
    list-style: none;
}

.nave-link {
    text-decoration: none;
    margin: 25px;
}

/* Responsive for mobile  divies*/

@media (max-width: 640px) {
    .ul-items li {
        display: none;
    }

    .ul-items .cart {
        display: block;
    }

    .nave-link {
        margin: 0;
    }
}
@media (max-width: 764px) {
    .ul-items li {
        display: none;
    }

    .ul-items .cart {
        display: block;
    }
}
/* herro section */
.banner {
    align-items: end;
    margin-top: 120px;
}

.banner-h {
    font-weight: 700;
    font-size: 4rem;
}

.banner-p {
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 10px;
}

.banner-left {
    flex: 1;
}
.banner-right {
    flex: 1;
}

/* hero section responsive */

@media (max-width: 640px) {
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .banner-left, .banner-right {
        width: 100%;
    }
    .banner-left{
        text-align: left;
        padding-left: 20px;
    }

    .banner-h {
        font-size: 1.50rem;
    }

    .banner-p {
        font-size: 1rem;
    }

    .banner-right img {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .banner-left, .banner-right {
        width: 100%;
    }
    .banner-left{
        text-align: left;
        padding-left: 20px;
    }

    .banner-h {
        font-size: 1.50rem;
    }

    .banner-p {
        font-size: 1rem;
    }

    .banner-right img {
        max-width: 100%;
        height: auto;
    }
}
/* our plants products  */

.plants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    text-align: center;

}

.plant-top-p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1.25rem;
}

.plant-top-h1 {
    font-size: 3.25rem;
}

/* plants items */
.plants-items {
    text-align: center;
    margin-top: 49px;
}

.plant-h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;

}

.plant-h4 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.25rem;
}

.plant-h2-bold {
    font-weight: 700;
    margin-top: 15px;

}

.primarry-btn {
    margin-top: 15px;
    padding: 19px 80px;
    background-color: #E95A08;
    color: #FFFFFF;
    width: 100%;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


/* Responsive for mobile  divies*/
@media (max-width: 640px) {
    .plant-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 10px;
    }

    .primarry-btn {
        padding: 12px 20px;
    }

    .plant-top-h1 {
        font-size: 2rem;
    }

    .plant-top-p {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .plant-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 10px;
    }

    .primarry-btn {
        padding: 14px 20px;
    }

    .plant-top-h1 {
        font-size: 2rem;
    }

    .plant-top-p {
        font-size: 1rem;
    }
}
@media (max-width: 400px) {
    .plant-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .primarry-btn {
        width: 270px;
    }
}



/* Lover-section */

.lover-section {
    gap: 50px;
    margin-top: 120px;
    align-items: center;
    /* position: relative; */
}

.lover-left {
    flex: 1;
    width: 100%;
    height: auto;
    position: relative;
}

.lover-right {
    flex: 1;
    width: 100%;
    height: auto;

}

.lovers-li {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 30px;
}

.lovers-h1 {
    font-size: 3rem;
    font-weight: 700;
}

.trusted-icon {
    width: 286px;
    height: auto;
    position: absolute;
    top: -20%;
    right: -20%;
    transform: translateX(-20%-20%);
}
@media (max-width: 640px) {
     .lover-section {
        text-align: left;
        flex-direction: column;
        gap: 30px;
    }

    .lover-left, .lover-right {
        width: 100%;
        flex: 1;
        
    }

    .lovers-h1 {
        font-size: 2rem;
    }

    .lovers-li {
        font-size: 1rem;
    }

    .trusted-icon {
        display: none;
    }
}



/* offer-section */
.offer-section {
    margin-top: 120px;
    text-align: center;
    width: 100%;
    height: auto;
}

.offer-section-h1 {
    font-size: 3rem;
    font-weight: 700;
}

.offer-section-p {
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 500;
}

.offer-section-main {
    display: flex;
    width: 100%;
    height: 400px;
    gap: 20px;
    margin-top: 120px;
}

.offer-section1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.offer-left1,
.offer-left2,
.offer-right {
    padding: 65px 49px;
    color: #FFFFFF;
    font-size: 1.25rem;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.offer-left1 {
    background-image: url('assets/deal-bloom.png');
    height: 190px;
}

.offer-left2 {
    background-image: url('assets/deal-ana.png');
    height: 190px;
}

.offer-section2 {
    flex: 2;

}

.offer-right {
    background-image: url('assets/deal-zabo.png');
    height: 100%;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
}

@media (max-width: 640px) {
    .offer-section-main {
        flex-direction: column;
        height: auto;
    }

    .offer-section1 {
        flex-direction: column;
        gap: 20px;
    }

    .offer-left1,
    .offer-left2,
    .offer-right {
        width: 100%;
        height: 200px;
        font-size: 1.5rem;
        padding: 40px 20px;
    }

    .offer-right {
        font-size: 1.75rem;
    }
} 


@media (max-width: 746px) {
    .offer-section-main {
        flex-direction: column;
        height: auto;
    }

    .offer-section1 {
        flex-direction: column;
        gap: 20px;
    }

    .offer-left1,
    .offer-left2,
    .offer-right {
        width: 100%;
        height: 200px;
        font-size: 1.5rem;
        padding: 40px 20px;
    }

    .offer-right {
        font-size: 1.75rem;
    }
}

/* subscribe-section */

.subscribe-section {
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    height: 533px;
    background-size: cover;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content h1 {
    font-size: 3.25rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.subscribe-form input {
    width: 644px;
    height: 50px;
    padding: 12px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.subscribe-form button {
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    text-align: center;
    padding: 19px 45px;

}
@media (max-width: 640px) {
    .subscribe-form {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

  .subscribe-form input {
    width: 218px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.subscribe-form button {
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    text-align: center;

}
    .content h1 {
        font-size: 2rem;
        padding: 0 10px;
    }

    .subscribe-section {
        padding: 30px 0;
        height: auto;
    }
}


/* footer section */


.footer-container {
    background-size: cover;
    height: 348px;
    margin-top: 120px;
    padding: 40px 0;
}

.footer-container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    max-width: 300px;
}

.footer-left img {
    margin-bottom: 20px;
}

.text-gray2 {
    color: #8987A1;
    font-size: 1.25rem;
    line-height: 1.3;
}

.footer-middle {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 70px;
    color: #8987A1;
    font-size: 14px;
}

.footer-right {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

@media (max-width: 640px) {
    .footer-container1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0 20px;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        text-align: left;
    }

    .footer-right {
        justify-content: flex-start;
    }

    .text-gray2 {
        font-size: 1rem;
    }

    .footer-container {
        height: auto;
    }
}
@media (max-width: 746px) {
    .footer-container1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0 20px;
    }

    .footer-middle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        text-align: left;
    }

    .footer-right {
        justify-content: flex-start;
    }

    .text-gray2 {
        font-size: 1rem;
    }

    .footer-container {
        height: auto;
    }
}

/* responsive media query */

.hide {
    display: none;
}